!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OrderApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %style{type: 'text/css'}
      :css
        div.field_with_errors {
          display: inline;
          width: 100%;
        }
  %body
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/stylesheets/application"}
    = yield
